<!-- header -->
<div class="agileits_header">
  <div class="w3l_offers">
    <a>Strictly Shoprite Items!</a>
    <!-- <a href="products.html">Today's special Offers !</a> -->
  </div>
  <div class="w3l_search">
    <form action="#" method="post">
      <input
        type="text"
        name="Product"
        value="Search a product..."
        onfocus="this.value = '';"
        onblur="if (this.value == '') {this.value = 'Search a product...';}"
        required=""
      />
      <input type="submit" value=" " />
    </form>
  </div>
  <div class="product_list_header">
    <!-- <form action="#" method="post" class="last">
      <fieldset>
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="display" value="1" /> -->
    <input
      name="submit"
      type="button"
      value="View your cart"
      (click)="showModal()"
      class="button"
      style="background: #010c36;"
    />

    <!-- </fieldset> -->
    <!-- <span class="badge badge-light">4</span> -->
    <!-- </form> -->
  </div>
  <div class="w3l_header_right">
    <ul>
      <li class="dropdown profile_details_drop">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
          ><i class="fa fa-user" aria-hidden="true"></i
          ><span class="caret"></span
        ></a>
        <div class="mega-dropdown-menu">
          <div class="w3ls_vegetables">
            <ul class="dropdown-menu drp-mnu">
              <div *ngIf="!authService.userData">
                <li><a routerLink="/sign-in">Login</a></li>
                <li><a routerLink="/register-user">Sign Up</a></li>
              </div>
              <div *ngIf="authService.userData as user">
                <li>
                  <a>{{ user.email }}</a>
                </li>
                <li><a (click)="authService.SignOut()">Log Out</a></li>
              </div>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="w3l_header_right1">
    <h2><a href="mail.html">Contact Us</a></h2>
  </div>
  <div class="clearfix"></div>
</div>
<!-- script-for sticky-nav -->
<script>
  $(document).ready(function () {
    var navoffeset = $(".agileits_header").offset().top;
    $(window).scroll(function () {
      var scrollpos = $(window).scrollTop();
      if (scrollpos >= navoffeset) {
        $(".agileits_header").addClass("fixed");
      } else {
        $(".agileits_header").removeClass("fixed");
      }
    });
  });
</script>
<!-- //script-for sticky-nav -->
<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left">
      <h1>
        <a href="index.html"><span>Dasha</span> Online</a>
      </h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="special_items">
        <!-- <li><a href="events.html">Events</a><i>/</i></li> -->
        <li><a href="about.html">About Us</a><i>/</i></li>
        <li><a href="products.html">Best Deals</a><i>/</i></li>
        <li><a href="services.html">Services</a></li>
      </ul>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>(+260) 97 0662056</li>
        <li>
          <i class="fa fa-envelope-o" aria-hidden="true"></i
          ><a href="mailto:sales@dashaonlinesales.com">click to email</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cart"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
  [nzWidth]="800"
>
  <nz-card style="width: 100%;">
    <!-- <nz-descriptions nzBordered nzLayout="vertical">
    <nz-descriptions-item>Zhou Maomao</nz-descriptions-item>
    <nz-descriptions-item>181000</nz-descriptions-item>
    <nz-descriptions-item>Hangzhou, Zhejiang</nz-descriptions-item>
    <nz-descriptions-item>Empty</nz-descriptions-item>
  </nz-descriptions> -->
    <nz-list>
      <nz-list-item *ngFor="let item of listOfDisplayData">
        <ng-container>
          <nz-list-item-meta [nzDescription]="item.cartDescription">
          </nz-list-item-meta>

          <nz-list-item-extra
            ><input
              type="text"
              nz-input
              placeholder="{{ item.quantity }}"
              [(ngModel)]="item.quantity"
              (ngModelChange)="log(item)"
          /></nz-list-item-extra>
          <nz-list-item-extra> ZMW {{ item.amount }}</nz-list-item-extra>
          <ul nz-list-item-actions>
            <!-- <nz-list-item-action
              ><a (click)="edit(item)" style="color: rgb(26, 2, 131);"
                >Check</a
              ></nz-list-item-action
            > -->
            <nz-list-item-action
              ><a (click)="edit(item)" style="color: red;"
                >remove</a
              ></nz-list-item-action
            >
          </ul>
        </ng-container>
      </nz-list-item>
    </nz-list>
  </nz-card>
  <ng-template #modalFooter>
    <span style="float: left;"><strong>Total:</strong> {{ total }} </span>
    <button
      nz-button
      nzType="primary"
      style="float: left; margin-left: 50px;"
      (click)="handleCheck()"
    >
      Check Total
    </button>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      nz-button
      style="background-color: red; color: #fff;"
      (click)="handleOk()"
    >
      Checkout
    </button>
  </ng-template>
</nz-modal>
