<!-- header -->
<div class="agileits_header">
  <div class="w3l_offers" style="color: #fff;">
    <a>Strictly Shoprite Items!</a>
    <!-- <a href="products.html">Today's special Offers !</a> -->
  </div>
  <div class="w3l_search">
    <input
      type="text"
      name="Product"
      value="Search a product..."
      onfocus="this.value = '';"
      onblur="if (this.value == '') {this.value = 'Search a product...';}"
      required=""
    />
    <input type="submit" value=" " (click)="searchItem()" />
  </div>
  <nz-spin nzSize="small" [nzSpinning]="isOkLoading">
    <div class="product_list_header" style="background: #010c36;">
      <!-- <form action="#" method="post" class="last">
      <fieldset>
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="display" value="1" /> -->
      <input
        name="submit"
        type="button"
        value="View your cart"
        (click)="showModal()"
        class="button"
      />

      <!-- </fieldset> -->
      <span class="badge badge-light" style="color: #fa1818;">{{
        numberInCart
      }}</span>
      <!-- </form> -->
    </div>
  </nz-spin>
  <div class="w3l_header_right">
    <ul>
      <li class="dropdown profile_details_drop">
        <a
          *ngIf="!authService.userData as user"
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
        >
          <!-- <i class="fa fa-user" aria-hidden="true"></i
          ><span class="caret"></span
        > -->
          sign in / sign up
        </a>
        <a
          *ngIf="authService.userData as user"
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
        >
          <!-- <i class="fa fa-user" aria-hidden="true"></i
          ><span class="caret"></span
        > -->
          {{ user.email }}
        </a>
        <div class="mega-dropdown-menu">
          <div class="w3ls_vegetables">
            <ul class="dropdown-menu drp-mnu">
              <div *ngIf="!authService.userData">
                <li><a routerLink="/sign-in">Login</a></li>
                <li><a routerLink="/register-user">Sign Up</a></li>
              </div>
              <div *ngIf="authService.userData as user">
                <!-- <li>
                  <a>{{ user.email }}</a>
                </li> -->
                <li><a (click)="authService.SignOut()">Log Out</a></li>
              </div>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="w3l_header_right1">
    <h2><a href="mail.html">Contact Us</a></h2>
  </div>
  <div class="clearfix"></div>
</div>
<!-- script-for sticky-nav -->
<script>
  $(document).ready(function () {
    var navoffeset = $(".agileits_header").offset().top;
    $(window).scroll(function () {
      var scrollpos = $(window).scrollTop();
      if (scrollpos >= navoffeset) {
        $(".agileits_header").addClass("fixed");
      } else {
        $(".agileits_header").removeClass("fixed");
      }
    });
  });
</script>
<!-- //script-for sticky-nav -->
<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left">
      <h1>
        <a routerLink="/home"><span>Dasha Link</span> Online</a>
      </h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="special_items">
        <!-- <li><a href="events.html">Events</a><i>/</i></li> -->
        <li><a href="about.html">About Us</a><i>/</i></li>
        <li><a href="products.html">Best Deals</a><i>/</i></li>
        <li><a href="services.html">Services</a></li>
      </ul>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>(+260) 97 0662056</li>
        <li>
          <i class="fa fa-envelope-o" aria-hidden="true"></i
          ><a href="mailto:sales@dashaonlinesales.com">click to email</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cart"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
  [nzWidth]="'70%'"
>
  <nz-card style="width: 100%;">
    <!-- <nz-descriptions nzBordered nzLayout="vertical">
    <nz-descriptions-item>Zhou Maomao</nz-descriptions-item>
    <nz-descriptions-item>181000</nz-descriptions-item>
    <nz-descriptions-item>Hangzhou, Zhejiang</nz-descriptions-item>
    <nz-descriptions-item>Empty</nz-descriptions-item>
  </nz-descriptions> -->
    <nz-list>
      <nz-list-item *ngFor="let item of listOfDisplayData">
        <ng-container>
          <nz-list-item-meta [nzDescription]="item.cartDescription">
          </nz-list-item-meta>

          <nz-list-item-extra
            ><input
              type="text"
              nz-input
              placeholder="{{ item.quantity }}"
              [(ngModel)]="item.quantity"
              (ngModelChange)="log(item)"
          /></nz-list-item-extra>
          <nz-list-item-extra> ZMW {{ item.amount }}</nz-list-item-extra>
          <ul nz-list-item-actions>
            <!-- <nz-list-item-action
              ><a (click)="edit(item)" style="color: rgb(26, 2, 131);"
                >Check</a
              ></nz-list-item-action
            > -->
            <nz-list-item-action
              ><a (click)="edit(item)" style="color: red;"
                >remove</a
              ></nz-list-item-action
            >
          </ul>
        </ng-container>
      </nz-list-item>
    </nz-list>
  </nz-card>
  <ng-template #modalFooter>
    <span style="float: left;"><strong>Total:</strong> ZMW {{ total }} </span>
    <span style="float: left; margin-left: 50px;"
      ><strong>Delivery Fee:</strong> ZMW 40
    </span>
    <!-- <button
      nz-button
      nzType="primary"
      style="float: left; margin-left: 50px;"
      (click)="handleCheck()"
    >
      Check Total
    </button> -->
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      nz-button
      style="background-color: red; color: #fff;"
      (click)="handleAddress()"
    >
      Checkout
    </button>
  </ng-template>
</nz-modal>

<nz-drawer
  [(nzVisible)]="isAddressConfirmationVisible"
  nzTitle="Deliver"
  [nzWidth]="1000"
  (nzOnClose)="handleAddressCancel()"
  [nzMaskClosable]="false"
  [nzPlacement]="'left'"
  (nzOnOk)="handleOk()"
>
  <div style="padding: 30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="12">
        <nz-card nzTitle="Confirm Delivery Address">
          <form nz-form [formGroup]="addressForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
              <nz-form-control
                [nzSpan]="12"
                nzHasFeedback
                nzValidatingTip="Validating..."
                [nzErrorTip]="clientNameErrorTpl"
              >
                <input nz-input formControlName="clientName" />
                <ng-template #clientNameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your client name!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    The client name is redundant!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
              <nz-form-control
                [nzSpan]="12"
                nzHasFeedback
                [nzErrorTip]="emailErrorTpl"
              >
                <input
                  nz-input
                  formControlName="email"
                  placeholder="email"
                  type="email"
                />
                <ng-template #emailErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('email')">
                    The input is not valid E-mail!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your E-mail!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired
                >Phone Number</nz-form-label
              >
              <nz-form-control
                [nzSpan]="12"
                nzHasFeedback
                nzValidatingTip="Validating..."
                [nzErrorTip]="clientPhoneErrorTpl"
              >
                <input nz-input formControlName="clientPhone" />
                <ng-template #clientPhoneErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your client phone number!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    The client number is redundant!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired
                >Client Address</nz-form-label
              >
              <nz-form-control
                [nzSpan]="12"
                nzHasFeedback
                nzValidatingTip="Validating..."
                [nzErrorTip]="addressErrorTpl"
              >
                <input nz-input formControlName="clientAddress" />
                <ng-template #addressErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your client address!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    The client address is redundant!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <!-- <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>-->
          </form>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-card nzTitle="Confirm Payment Method">
          <nz-select
            nzPlaceHolder="Select Payment Method"
            [(ngModel)]="selectedPayment"
          >
            <nz-option
              nzValue="Visa"
              nzLabel="Visa"
              [nzDisabled]="disabled"
            ></nz-option>
            <nz-option nzValue="Cash" nzLabel="Cash"></nz-option>
            <nz-option nzValue="MoMo" nzLabel="MoMo"></nz-option>
          </nz-select>

          <div *ngIf="selectedPayment === 'Visa'" class="container">
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <h3 class="text-center">Payment Details</h3>
                    <img
                      alt="Credit Card Logos"
                      title="Credit Card Logos"
                      src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_mastercard_1.gif"
                    />
                  </div>
                </div>
                <div class="panel-body">
                  <form role="form" [formGroup]="cardForm">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>CARD NUMBER</label>
                          <div class="input-group">
                            <input
                              formControlName="cardNumber"
                              type="tel"
                              class="form-control"
                              placeholder="Valid Card Number"
                            />
                            <span class="input-group-addon"
                              ><span class="fa fa-credit-card"></span
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                          <label
                            ><span class="hidden-xs">EXPIRATION</span
                            ><span class="visible-xs-inline">EXP</span>
                            DATE</label
                          >
                          <input
                            formControlName="date"
                            type="tel"
                            class="form-control"
                            placeholder="MM / YY"
                          />
                        </div>
                      </div>
                      <div class="col-xs-5 col-md-5 pull-right">
                        <div class="form-group">
                          <label>CV CODE</label>
                          <input
                            formControlName="cvc"
                            type="tel"
                            class="form-control"
                            placeholder="CVC"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>CARD OWNER</label>
                          <input
                            formControlName="cardName"
                            type="text"
                            class="form-control"
                            placeholder="Card Owner Names"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12">
                      <button
                        class="btn btn-warning btn-lg btn-block"
                        (click)="handleCardInfo()"
                      >
                        Process payment
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="selectedPayment === 'Cash'"
            class="container"
            style="margin-top: 10px;"
          >
            <form nz-form [formGroup]="addressForm">
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
                <nz-form-control
                  [nzSpan]="12"
                  nzHasFeedback
                  nzValidatingTip="Validating..."
                  [nzErrorTip]="clientNameErrorTpl"
                >
                  <input nz-input formControlName="clientName" />
                  <ng-template #clientNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please input your client name!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                      The client name is redundant!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired
                  >Phone Number</nz-form-label
                >
                <nz-form-control
                  [nzSpan]="12"
                  nzHasFeedback
                  nzValidatingTip="Validating..."
                  [nzErrorTip]="clientPhoneErrorTpl"
                >
                  <input nz-input formControlName="clientPhone" />
                  <ng-template #clientPhoneErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please input your client phone number!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                      The client number is redundant!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                  <button nz-button nzType="primary" (click)="handleOk()">
                    Submit
                  </button>
                  <button nz-button>Reset</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
          <div
            *ngIf="selectedPayment === 'MoMo'"
            class="container"
            style="margin-top: 10px;"
          >
            <form nz-form [formGroup]="addressForm">
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
                <nz-form-control
                  [nzSpan]="12"
                  nzHasFeedback
                  nzValidatingTip="Validating..."
                  [nzErrorTip]="clientNameErrorTpl"
                >
                  <input nz-input formControlName="clientName" />
                  <ng-template #clientNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please input your client name!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                      The client name is redundant!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired
                  >Phone Number</nz-form-label
                >
                <nz-form-control
                  [nzSpan]="12"
                  nzHasFeedback
                  nzValidatingTip="Validating..."
                  [nzErrorTip]="clientPhoneErrorTpl"
                >
                  <input nz-input formControlName="clientPhone" />
                  <ng-template #clientPhoneErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please input your client phone number!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                      The client number is redundant!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                  <button nz-button nzType="primary" (click)="handleOk()">
                    Submit
                  </button>
                  <button nz-button>Reset</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</nz-drawer>
