<app-header></app-header>
<!-- products-breadcrumb -->
<div class="products-breadcrumb">
  <div class="container">
    <ul>
      <li>
        <i class="fa fa-home" aria-hidden="true"></i
        ><a href="index.html">Home</a><span>|</span>
      </li>
      <li>Branded Foods</li>
    </ul>
  </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
  <app-navbar></app-navbar>
  <div class="w3l_banner_nav_right">
    <!-- login -->
    <div class="w3_login">
      <h3>Sign In & Sign Up</h3>
      <div class="w3_login_module">
        <div class="module form-module">
          <div class="toggle">
            <i class="fa fa-times fa-pencil"></i>
            <!-- <div class="tooltip">Click Me</div> -->
          </div>

          <div class="form">
            <h2>Create an account</h2>
            <input
              type="text"
              name="fullName"
              placeholder="Full Name"
              #clientName
              required
            />
            <input
              type="password"
              name="Password"
              placeholder="Password"
              #clientPassword
              required
            />
            <input
              type="email"
              name="Email"
              placeholder="Email Address"
              #clientEmail
              required
            />
            <input
              type="text"
              name="Phone"
              placeholder="Phone Number"
              #clientPhone
              required
            />
            <input
              type="text"
              name="address"
              placeholder="Address"
              #clientAddress
              required
            />
            <input
              type="submit"
              value="Register"
              (click)="
                authService.SignUp(
                  clientName.value,
                  clientPassword.value,
                  clientEmail.value,
                  clientPhone.value,
                  clientAddress.value
                )
              "
            />
          </div>

<!--          <div class="formGroup">-->
<!--            <button-->
<!--              style="background: #3cba54; color: #fff;"-->
<!--              type="button"-->
<!--              class="btn googleBtn"-->
<!--              (click)="authService.GoogleAuth()"-->
<!--            >-->
<!--              <i class="fab fa-google-plus-g"></i>-->
<!--              Log in with Google-->
<!--            </button>-->
<!--          </div>-->
          <div class="cta">
            <a routerLink="/sign-in">Sign In</a>
          </div>
        </div>
      </div>
      <script>
        $(".toggle").click(function () {
          // Switches the Icon
          $(this).children("i").toggleClass("fa-pencil");
          // Switches the forms
          $(".form").animate(
            {
              height: "toggle",
              "padding-top": "toggle",
              "padding-bottom": "toggle",
              opacity: "toggle",
            },
            "slow"
          );
        });
      </script>
    </div>
    <!-- //login -->
  </div>
  <div class="clearfix"></div>
</div>
