<div
  class="body"
  style="
    background-color: #f50808;
    margin: 0 !important;
    padding: 0 !important;
  "
>
  <!-- HIDDEN PREHEADER TEXT -->
  <div
    style="
      display: none;
      font-size: 1px;
      color: #f50808;
      line-height: 1px;
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      max-height: 0px;
      max-width: 0px;
      opacity: 0;
      overflow: hidden;
    "
  >
    We're thrilled to have you here! Get ready to dive into your new account.
  </div>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <!-- LOGO -->
    <tr>
      <td bgcolor="#f50808" align="center">
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="max-width: 600px;"
        >
          <tr>
            <td
              align="center"
              valign="top"
              style="padding: 40px 10px 40px 10px;"
            ></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#f50808" align="center" style="padding: 0px 10px 0px 10px;">
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="max-width: 600px;"
        >
          <tr>
            <td
              bgcolor="#ffffff"
              align="center"
              valign="top"
              style="
                padding: 40px 20px 20px 20px;
                border-radius: 4px 4px 0px 0px;
                color: #111111;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 48px;
                font-weight: 400;
                letter-spacing: 4px;
                line-height: 48px;
              "
            >
              <h1 style="font-size: 48px; font-weight: 400; margin: 2;">
                Thank You for Registering
              </h1>
              <img
                src=" https://img.icons8.com/clouds/100/000000/handshake.png"
                width="125"
                height="120"
                style="display: block; border: 0px;"
              />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="max-width: 600px;"
        >
          <tr>
            <td
              bgcolor="#ffffff"
              align="left"
              style="
                padding: 20px 30px 40px 30px;
                color: #666666;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
              "
            >
              <p style="margin: 0;">
                We're excited to have you get started. First, you need to
                confirm your account.
              </p>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" align="left">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td
                    bgcolor="#ffffff"
                    align="center"
                    style="padding: 20px 30px 60px 30px;"
                  >
                    <!-- <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td
                          align="center"
                          style="border-radius: 3px;"
                          bgcolor="#FFA73B"
                        >
                          <a
                            href="#"
                            target="_blank"
                            style="
                              font-size: 20px;
                              font-family: Helvetica, Arial, sans-serif;
                              color: #ffffff;
                              text-decoration: none;
                              color: #ffffff;
                              text-decoration: none;
                              padding: 15px 25px;
                              border-radius: 2px;
                              border: 1px solid #ffa73b;
                              display: inline-block;
                            "
                            >Confirm Account</a
                          >
                        </td>
                      </tr>
                    </table> -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- COPY -->
          <tr>
            <td
              bgcolor="#ffffff"
              align="left"
              style="
                padding: 0px 30px 0px 30px;
                color: #666666;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
              "
            >
              <p style="margin: 0;">
                We have sent a confirmation email to
                <strong *ngIf="authService.userData as user">{{
                  user.email
                }}</strong>
              </p>
            </td>
          </tr>
          <!-- COPY -->
          <!-- <tr>
                        <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;"><a href="#" target="_blank" style="color: #FFA73B;">https://bit.li.utlddssdstueincx</a></p>
                        </td>
                    </tr> -->
          <tr>
            <td
              bgcolor="#ffffff"
              align="left"
              style="
                padding: 0px 30px 20px 30px;
                color: #666666;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
              "
            >
              <p style="margin: 0;">
                Please check your email and click on the link to verfiy your
                email address.
              </p>
            </td>
          </tr>
          <tr>
            <td
              bgcolor="#ffffff"
              align="left"
              style="
                padding: 0px 30px 40px 30px;
                border-radius: 0px 0px 4px 4px;
                color: #666666;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
              "
            >
              <p style="margin: 0;">
                <button
                  type="button"
                  class="btn btnPrimary"
                  (click)="authService.SendVerificationMail()"
                >
                  <i class="fas fa-redo-alt"></i>
                  Resend Verification Email
                </button>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#f4f4f4" align="center" style="padding: 30px 10px 0px 10px;">
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="max-width: 600px;"
        >
          <tr>
            <td
              bgcolor="#FFECD1"
              align="center"
              style="
                padding: 30px 30px 30px 30px;
                border-radius: 4px 4px 4px 4px;
                color: #666666;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
              "
            >
              <h2
                style="
                  font-size: 20px;
                  font-weight: 400;
                  color: #111111;
                  margin: 0;
                "
              >
                <span
                  >Go back to?<span class="redirect"
                    ><a routerLink="/sign-in">Sign in</a>
                  </span></span
                >
              </h2>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="max-width: 600px;"
        >
          <tr>
            <td
              bgcolor="#f4f4f4"
              align="left"
              style="
                padding: 0px 30px 30px 30px;
                color: #666666;
                font-family: 'Lato', Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
              "
            >
              <br />
              <!-- <p style="margin: 0;">
                If these emails get annoying, please feel free to
                <a
                  href="#"
                  target="_blank"
                  style="color: #111111; font-weight: 700;"
                  >unsubscribe</a
                >.
              </p> -->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Thank You for Registering</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">
          We have sent a confirmation email to <strong>{{ user.email }}</strong
          >.
        </p>
        <p class="text-center">
          Please check your email and click on the link to verfiy your email
          address.
        </p>
      </div>


      <div class="formGroup">
        <button
          type="button"
          class="btn btnPrimary"
          (click)="authService.SendVerificationMail()"
        >
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Go back to?<span class="redirect" routerLink="/sign-in">
          Sign in</span
        ></span
      >
    </div>
  </div>
</div> -->
