<app-header></app-header>
<!-- banner -->
<div class="banner">
  <app-navbar></app-navbar>

  <div class="w3l_banner_nav_right">
    <section class="slider">
      <div class="flexslider">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content class="w3l_slide"></div>
          <div nz-carousel-content class="w3l_slide1"></div>
          <div nz-carousel-content class="w3l_slide2"></div>
        </nz-carousel>
      </div>
    </section>
    <!-- flexSlider -->
    <!-- <link
      rel="stylesheet"
      href="../../assets/css/flexslider.css"
      type="text/css"
      media="screen"
      property=""
    /> -->

    <script defer src="js/jquery.flexslider.js"></script>
    <script type="text/javascript">
      $(window).load(function () {
        $(".flexslider").flexslider({
          animation: "slide",
          start: function (slider) {
            $("body").removeClass("loading");
          },
        });
      });
    </script>
    <!-- //flexSlider -->
  </div>
  <div class="clearfix"></div>
</div>
<!-- banner -->

<div class="banner_bottom">
  <div class="wthree_banner_bottom_left_grid_sub"></div>
  <div class="wthree_banner_bottom_left_grid_sub1">
    <!-- <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img
          src="assets/img/shb.jpeg"
          alt=" "
          class="img-responsive"
          style="height: 350px;"
        />
        !-- <div class="wthree_banner_bottom_left_grid_pos">
          <h4>Discount Offer <span>25%</span></h4>
        </div> --
      </div>
    </div> -->
    <div class="col-md-6 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img
          src="assets/img/shoprite.png"
          alt=" "
          class="img-responsive"
          style="height: 350px;"
        />
        <!-- <div class="wthree_banner_btm_pos">
          <h3>introducing <span>best store</span> for <i>groceries</i></h3>
        </div> -->
      </div>
    </div>
    <div class="col-md-6 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img
          src="assets/img/shopf.png"
          alt=" "
          class="img-responsive"
          style="height: 350px;"
        />
        <!-- <div class="wthree_banner_btm_pos1">
          <h3>Save <span>Upto</span> ZMW 1000</h3>
        </div> -->
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- top-brands -->
<div class="top-brands">
  <div class="container">
    <h3>Hot Offers</h3>
    <div class="agile_top_brands_grids">
      <div
        class="col-md-3 top_brand_left"
        style="height: 400px;"
        *ngFor="let onOffer of hotOffer | slice: hotOffer.length - 5"
      >
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="tag">
              <img
                src="assets/images/tag.png"
                alt=" "
                class="agile_top_brand_left_grid_pos img-responsive"
              />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <!-- <a> -->
                    <!-- <img title=" " alt=" "
                    />-->
                    <img
                      [src]="onOffer.imgUrl"
                      alt=" "
                      class="img-responsive"
                      style="height: 100px;"
                    />
                    <!-- </a> -->
                    <p>{{ onOffer.itemName }}</p>
                    <h4>ZMW {{ onOffer.price }}</h4>
                  </div>
                  <div *ngIf="!authService.userData" class="snipcart-details">
                    <form>
                      <input
                        type="button"
                        name="submit"
                        value="Add to cart"
                        class="button"
                        (click)="signIn()"
                      />
                    </form>
                  </div>
                  <div *ngIf="authService.userData" class="snipcart-details">
                    <form>
                      <input
                        type="button"
                        name="submit"
                        value="Add to cart"
                        class="button"
                        (click)="addItem(onOffer)"
                      />
                    </form>
                  </div>
                  <div class="snipcart-details top_brand_home_details"></div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
<div class="fresh-vegetables">
  <div class="container">
    <h3>Top Products</h3>
    <div class="w3l_fresh_vegetables_grids">
      <div
        class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left"
      >
        <div class="w3l_fresh_vegetables_grid2">
          <ul>
            <li *ngFor="let item of listOfDisplayData">
              <i class="fa fa-check" aria-hidden="true"></i
              ><a
                style="text-transform: uppercase;"
                [routerLink]="['/home/products/', item.categoryNumber]"
                >{{ item.categoryName }}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 w3l_fresh_vegetables_grid_right">
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <img src="assets/images/8.jpg" alt=" " class="img-responsive" />
          </div>
        </div>
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <div class="w3l_fresh_vegetables_grid1_rel">
              <img src="assets/images/7.jpg" alt=" " class="img-responsive" />
              <div class="w3l_fresh_vegetables_grid1_rel_pos">
                <!-- <div class="more m1">
                  <a
                    href="products.html"
                    class="button--saqui button--round-l button--text-thick"
                    data-text="Shop now"
                    >Shop now</a
                  >
                </div> -->
              </div>
            </div>
          </div>
          <div class="w3l_fresh_vegetables_grid1_bottom">
            <img src="assets/img/shc.jpeg" alt=" " class="img-responsive" />
            <div class="w3l_fresh_vegetables_grid1_bottom_pos">
              <h5>Special Offers</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 w3l_fresh_vegetables_grid">
          <div class="w3l_fresh_vegetables_grid1">
            <img src="assets/images/9.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="w3l_fresh_vegetables_grid1_bottom">
            <img src="assets/images/11.jpg" alt=" " class="img-responsive" />
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="agileinfo_move_text">
          <div class="agileinfo_marquee">
            <h4>
              get <span class="blink_me">Lowest Prices</span> you can trust
            </h4>
          </div>
          <div class="agileinfo_breaking_news">
            <span> </span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //fresh-vegetables -->
<!-- newsletter -->
<!-- <div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form action="#" method="post">
        <input
          type="email"
          name="Email"
          value="Email"
          onfocus="this.value = '';"
          onblur="if (this.value == '') {this.value = 'Email';}"
          required=""
        />
        <input type="submit" value="subscribe now" />
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div> -->
<!-- //newsletter -->
<app-footer></app-footer>
